<nb-card>
    <nb-card-header>
      Generar Reportes
    </nb-card-header>
  
    <nb-card-body>
          <button type="submit" class="btn btn-success">Generar Reporte por Cliente</button>
          
    </nb-card-body>
    <nb-card-body>
    <button type="submit" class="btn btn-success">Generar Reporte Total por Cliente</button>
  </nb-card-body>
  <nb-card-body></nb-card-body>
    <button type="submit" class="btn btn-success">Generar Reporte por Empleado</button>
  </nb-card-body>
  </nb-card>
  