<div class="row">
  <div class="col-lg-6">
    <nb-card>
      
     
        <div class="form-group">
          <select class="form-control">
            <option>Cliente 1</option>
            <option>Cliente 2</option>
            <option>Cliente 3</option>
            <option>Cliente 4</option>
            <option>Cliente 5</option>
          </select>
        </div>
      <button type="submit" class="btn btn-success">Generar Reporte Total por Cliente</button></nb-card>
     
      <nb-card>
        
        <div class="form-group">
          <select class="form-control">
            <option>Cliente 1</option>
            <option>Cliente 2</option>
            <option>Cliente 3</option>
            <option>Cliente 4</option>
            <option>Cliente 5</option>
          </select>
        </div>
      <button type="submit" class="btn btn-success">Generar Reporte  por Cliente</button>
      </nb-card>

      <nb-card>
       
        <div class="form-group">
          <select class="form-control">
            <option>Empleado 1</option>
            <option>Empleado 2</option>
            <option>Empleado 3</option>
            <option>Empleado 4</option>
            <option>Empleado 5</option>
          </select>
        </div>  
      <button type="submit" class="btn btn-success">Generar Reporte  por Empleado</button>
    </nb-card>
  </div>

  
</div>
