<nb-card>
  <nb-card-header>
    Generar Factura
  </nb-card-header>

  <nb-card-body>
      <label for="inputFirstName">Seleccionar Cliente</label>
        <div class="form-group">
          <select class="form-control">
            <option>Cliente 1</option>
            <option>Cliente 2</option>
            <option>Cliente 3</option>
            <option>Cliente 4</option>
            <option>Cliente 5</option>
          </select>
        </div>

        <label for="inputFirstName">Seleccionar Servicio</label>
        <div class="form-group">
          <select class="form-control">
            <option>Servicio 1</option>
            <option>Servicio 2</option>
            <option>Servicio 3</option>
            <option>Servicio 4</option>
            <option>Servicio 5</option>
          </select>
        </div>
        
            <div class="form-group">
              <label for="inputFirstName">Importe</label>
              <input type="text" class="form-control" id="inputFirstName" placeholder="$ ">
            </div>

        <button type="submit" class="btn btn-success">Generar Factura</button>


  </nb-card-body>

</nb-card>
