<nb-card>
    <nb-card-header>
      Cargar Novedades
    </nb-card-header>
  
    <nb-card-body>
        <label for="inputFirstName">Seleccionar Cliente</label>
          <div class="form-group">
            <select class="form-control">
              <option>Cliente 1</option>
              <option>Cliente 2</option>
              <option>Cliente 3</option>
              <option>Cliente 4</option>
              <option>Cliente 5</option>
            </select>
          </div>
  
          <label for="inputFirstName">Seleccionar Concepto</label>
          <div class="form-group">
            <select class="form-control">
              <option>Concepto 1</option>
              <option>Concepto 2</option>
              <option>Concepto 3</option>
              <option>Concepto 4</option>
              <option>Concepto 5</option>
            </select>
          </div>
          
              <div class="form-group">
                <label for="inputFirstName">Dias</label>
                <input type="text" class="form-control" id="inputFirstName" placeholder=" ">
              </div>
  
          <button type="submit" class="btn btn-success">Cargar Novedades</button>
  
  
    </nb-card-body>
  
  </nb-card>
  